.add-customer-form{
    background-color: #363D42;
    border-radius: 1rem;
    width: auto;   
    margin: 30px 0.8rem 0 0;
    height: 90%;
    color: white;
    padding: 15px;
}
.form{
    width: 99%;
    height: auto;
}
.try-input{
    /* height: 80px; */
    /* width: 100%; */
    width: auto;
    height: auto;
}

input,select{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 12px;
}
input::placeholder.select::placeholder{
    color: rgb(255, 255, 255);
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    overflow: hidden;
}
.add-customer-form>form>.form>div:nth-of-type(1),
.add-customer-form>form>.form>div:nth-of-type(2),
.add-customer-form>form>.form>div:nth-of-type(3),
.add-customer-form>form>.form>div:nth-of-type(4),
.add-customer-form>form>.form>div:nth-of-type(5),
.add-customer-form>form>.form>div:nth-of-type(6)
{
    display: flex;
    flex-wrap: wrap;
}
.form-left-side,.form-right-side{
    margin-top: 10px;
    min-width: calc((0.48)*100%);
    width: auto;
    /* width: calc((0.48)*100%);
    width: calc((0.48)*100%); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#birthdate,
#age,
#height,
#weight,
#joindate,
#enddate,
#feespaid,
#feesbalance,
#name,
#mobilenum,
#bmi,
#address{
    border-radius: 2px;
    width: 60%;
    border: 1px solid white;
    background-color: #242933;
}
.save-member{
    align-items: center;
    width: 10rem;
    padding: 10px;
    background-color: orangered;
    color:white;
    font-size:medium;
    font-weight: bold;
    border: none;
}
.form>p{
    text-align: center;
}
select{
    border-radius: 2px;
    width: 64.4%;
    border: 1px solid white;
    background-color: #242933;
}